# Data Cleaning project

In [1]:
# Cleaning will be performed mainly with Pandas.
import pandas as pd

## Data set
The data set is an extract from American `itdashboard.gov` archive. It containt information about governmental IT projects, their dates, costs, stakeholders (i.e. specific departments).

In [2]:
df = pd.read_csv('dataset.csv', index_col=False)

## Cleaning columns one by one
1. `Unique Investment Identifier`:
    1. Not unique, despite the name. It shouldn't be the first column, because it looks like Primary Key.
	2. **Identifier** could be **ID**.

In [3]:
# Rename the column
df.rename(columns={'Unique Investment Identifier':'Investment ID'}, inplace=True)

2. `Business Case ID`
    1. It is float, but should be int.
    2. It corresponds 1:1 with `Investment ID`, so it should be kept in another lookup table. The same with `Investment Title`.
    3. There are some `NaN` values. These are rows with totals and they should be removed - they don't add any value, but only complicate an analysis.

In [4]:
# Drop rows with totals
indices_to_drop = df.loc[df['Business Case ID'].isna()].index
df.drop(indices_to_drop, inplace=True)

# Change type to int
df['Business Case ID'] = df['Business Case ID'].astype(int)

# Save into another DF
investments = pd.DataFrame(data=df[['Investment ID', 'Business Case ID', 'Investment Title']])
investments.drop_duplicates(inplace=True)
investments.set_index(keys='Investment ID', inplace=True)

# Export into a file
investments.to_csv('investments.csv')

# Drop extracted columns
df.drop(labels=['Business Case ID', 'Investment Title'], axis=1, inplace=True)

3. `Agency Code`
    1. **Code** could be **ID**.
	2. It is float, but should be int.

In [5]:
# Rename the column to `Agency ID`:
df.rename(columns={'Agency Code':'Agency ID'}, inplace=True)

# Change type to int
df['Agency ID'] = df['Agency ID'].astype(int)

4. `Agency Name`
	1. It corresponds 1:1 with `Agency Code`, so it should be kept in another lookup table. In fact there are only two cases in whole DataFrame, where `Agency ID` doesn't reflect `Agency Name` ideally. By comparing lengths of `Agency ID`, `Agency Name` and pair of these two, we see that there is **one more of unique entries** within Code+Name pair. By checking uniqueness we can conclude that value `6` is our point of pain. Two entries, which have wrong `Agency ID` values (not `Agency Name`, what can be easily deduced from other entries), should have `5`. 
    2. Names should be extracted to separate table.

In [18]:
# Define indices of rows to be changed
indices_to_change = df[(df['Agency ID'] == 6) & (df['Agency Name'] != 'Department of Commerce')].index

# Assign new values
for index in indices_to_change:
    df.at[index, 'Agency ID'] = 5
    
# Save into another DF
col_agencies = ['Agency ID', 'Agency Name']
agencies = pd.DataFrame(data=df[col_agencies])
agencies.set_index(keys='Agency ID', inplace=True)
agencies.drop_duplicates(inplace=True)

# Export into a file
agencies.to_csv('agencies.csv')

# Drop extracted columns
df.drop(labels=['Agency Name'], axis=1, inplace=True)

KeyError: 'Agency ID'

5. `Investment Title`
    1. It has been extracted with `Investment ID`.

6. `Project ID`
    1. It's a float, but should be an int.
	2. It's unique, so it should be the Primary Key and the first column in data set. This fits also the business context of the whole data set.

In [7]:
# Change type to int
df['Project ID'] = df['Project ID'].astype(int)

# Set index
df.set_index(keys='Project ID', inplace=True)

# Sort the whole DataFrame by the index

7. `Agency Project ID`
	1. Almost half of the values are NaN (but read by Pandas correctly). Since these are some IDs of internal use of agencies, they won't be touched.
    2. Should be extrated with to separate table.

In [8]:
# Save into another DF
col_agency_projects = ['Agency ID', 'Agency Project ID']
agency_projects = pd.DataFrame(data=df[col_agency_projects].dropna())
agency_projects.set_index(keys='Agency Project ID', inplace=True)
agency_projects.drop_duplicates(inplace=True)

# Export into a file
agency_projects.to_csv('agency_projects.csv')

# Drop extracted columns
df.drop(labels=['Agency ID'], axis=1, inplace=True)

8. `Project Name`
	1. It corresponds with `Project ID`, so it should be kept in another lookup table with `Project Description` (see next point) in a `project_descriptions` table.

9. `Project Description`
	1. It corresponds with `Project ID`, so it should be kept in another lookup table with `Project Name` in a `project_descriptions` table.

In [9]:
# Save into another DF
project_descriptions = pd.DataFrame(data=df[['Project Name', 'Project Description']])
project_descriptions.drop_duplicates(inplace=True)

# Export into a file
project_descriptions.to_csv('project_descriptions.csv')

# Drop extracted columns
df.drop(labels=['Project Name', 'Project Description'], axis=1, inplace=True)

### Date columns
10. `Start Date`, 11. `Completion Date (B1)`, 12. `Planned Project Completion Date (B2)`, 13. `Projected/Actual Project Completion Date (B2)`
	1. They are objects (Pandas' string), but should be dates.
    2. All dates should be extracted to separate table (not obligatory, but it's good not to mix a business contexts).
    3. Multiple formats (`2012-30-09`, `31/03/2012`)
    4. Column names too long.
    5. Since there also `Completion Date (B1)`, `Planned Project Completion Date (B2)` and `Projected/Actual Project Completion Date (B2)`, a purpose of these columns is unobvious. However the full business context is not known, so they won't be deleted or merged.

In [10]:
import re

# Rename the columns
col_renames = {'Start Date':'Start',
               'Completion Date (B1)':'Completion',
               'Planned Project Completion Date (B2)':'Planned Completion',
               'Projected/Actual Project Completion Date (B2)':'Projected/Actual Completion'}
df.rename(columns=col_renames, inplace=True)

# Define a parser for two different formats
pattern = re.compile('[0-9]{4}-[0-9]{2}-[0-9]{2}')

def date_parser(arg):
    global pattern
    if pattern.match(str(arg)):
        return pd.to_datetime(arg=arg, format='%Y-%d-%m')
    return pd.to_datetime(arg=arg)

# Parse dates
col_dates = ['Start', 'Completion', 'Planned Completion', 'Projected/Actual Completion']

for col in col_dates:
    df[col] = df[col].apply(date_parser)

# Extract dates
dates = pd.DataFrame(data=df[col_dates])

# Export into a file
dates.to_csv('dates.csv')

# Drop extracted columns
df.drop(labels=col_dates, axis=1, inplace=True)

### Cost columns
14. `Planned Cost ($ M)`, 15. `Projected/Actual Cost ($ M)`
	1. Columns should be extracted to separate table (not obligatory, but it's good not to mix a business contexts).

In [11]:
col_costs = ['Planned Cost ($ M)', 'Projected/Actual Cost ($ M)']

# Extract costs
costs = pd.DataFrame(data=df[col_costs])

# Export into a file
costs.to_csv('costs.csv')

# Drop extracted columns
df.drop(labels=col_costs, axis=1, inplace=True)

### Update columns
16. `Updated Date`, 17. `Updated Time`
	1. Should be merged together as a timestamp.

In [12]:
df['Updated'] = df['Updated Date'] + " " + df['Updated Time']
df['Updated'] = pd.to_datetime(arg=df['Updated'], format='%d/%m/%Y %H:%M:%S')

# Drop merged columns
df.drop(labels=['Updated Date', 'Updated Time'], axis=1, inplace=True)

## Output cleaned tables
1.

In [16]:
df.sort_index(inplace=True)
df.head(10)

            Investment ID Agency Project ID             Updated
Project ID
2           024-000005188            172538 2012-04-30 04:42:57
3           024-000005137            175755 2012-08-22 04:14:25
4           024-000005137            176150 2012-07-24 04:12:17
5           024-000009560            174064 2012-02-28 05:17:47
6           024-000009560            174285 2012-06-29 03:55:41
7           024-000009560            176117 2011-10-27 04:36:49
8           024-000005664            174129 2012-05-29 04:23:28
9           024-000005664            174130 2012-05-29 04:23:28
10          024-000009540            172266 2012-07-31 04:11:35
11          024-000009540            179972 2012-08-19 10:06:05

In [17]:
agencies.head(10)

      Agency ID                              Agency Name
0             5                Department of Agriculture
173           6                   Department of Commerce
449           7                    Department of Defense
623           9  Department of Health and Human Services
842          10               Department of the Interior
882          11                    Department of Justice
925          12                      Department of Labor
1052         14                      Department of State
1124         15               Department of the Treasury
1236         16           Social Security Administration

In [19]:
agency_projects.head(10)

                   Agency ID
Agency Project ID
P0049-101                  7
288661                     9
BCVS                      12
38                        15
1                         21
174076                    24
61712                     26
16181                     28
1003180603                29
PRISM7-1                 184

In [20]:
costs.head(10)

            Planned Cost ($ M)  Projected/Actual Cost ($ M)
Project ID
656                    15.2970                      15.2970
657                     0.1790                       0.1790
658                     1.4600                       1.4600
661                     1.8205                       1.4564
662                     1.7130                       1.7130
663                     1.4500                       1.4500
664                     0.0100                       0.0100
665                    46.9600                      46.9600
666                     0.6620                       0.6620
667                     0.5720                       0.5720

In [21]:
dates.head(10)

,Start,Completion,Planned Completion,Projected/Actual Completion
Project ID,,,,
656,2011-01-10,2012-09-30,NaT,NaT
657,2011-01-10,2012-03-31,2012-03-31,2012-03-31
658,2012-01-04,2012-09-30,NaT,NaT
661,2011-01-04,2011-09-30,2011-09-30,2011-09-30
662,2012-01-04,2012-09-30,2012-09-30,2012-09-30
663,2012-01-10,2013-03-31,NaT,NaT
664,2010-12-31,2011-03-31,2011-03-31,2011-03-31
665,2010-01-10,2011-09-30,2011-09-30,2011-09-20
666,2011-08-15,2012-04-30,2012-04-30,2012-04-30
667,2011-06-09,2012-12-31,NaT,NaT