# Data Cleaning project

In [1]:
# Cleaning will be performed mainly with Pandas.
import pandas as pd

## Data set
The data set is an extract from American `itdashboard.gov` archive. It containt information about governmental IT projects, their dates, costs, stakeholders (i.e. specific departments).

In [2]:
df = pd.read_csv('dataset.csv', index_col=False)

## Cleaning columns
`Unique Investment Identifier`:
    1. Not unique, despite the name. It shouldn't be the first column, because it looks like Primary Key.
	2. **Identifier** could be **ID**.

In [3]:
# Rename the column
df.rename(columns={'Unique Investment Identifier':'Investment ID'}, inplace=True)

`Business Case ID`
    1. It is float, but should be int.
    2. It corresponds 1:1 with `Investment ID`, so it should be kept in another lookup table. The same with `Investment Title`.
    3. There are some `NaN` values. These are rows with totals and they should be removed - they don't add any value, but only complicate an analysis.

In [4]:
# Drop rows with totals
indices_to_drop = df.loc[df['Business Case ID'].isna()].index
df.drop(indices_to_drop, inplace=True)

# Change type to int
df['Business Case ID'] = df['Business Case ID'].astype(int)

# Save into another DF
investments = pd.DataFrame(data=df[['Investment ID', 'Business Case ID', 'Investment Title']])
investments.drop_duplicates(inplace=True)
investments.set_index(keys='Investment ID', inplace=True)

# Export into a file
investments.to_csv('investments.csv')

# Drop extracted columns
df.drop(labels=['Business Case ID', 'Investment Title'], axis=1, inplace=True)

`Agency Code`
1. **Code** could be **ID**.
2. It is float, but should be int.

In [5]:
# Rename the column to `Agency ID`:
df.rename(columns={'Agency Code':'Agency ID'}, inplace=True)

# Change type to int
df['Agency ID'] = df['Agency ID'].astype(int)

`Agency Name`
	1. It corresponds 1:1 with `Agency Code`, so it should be kept in another lookup table. In fact there are only two cases in whole DataFrame, where `Agency ID` doesn't reflect `Agency Name` ideally. By comparing lengths of `Agency ID`, `Agency Name` and pair of these two, we see that there is **one more of unique entries** within Code+Name pair. By checking uniqueness we can conclude that value `6` is our point of pain. Two entries, which have wrong `Agency ID` values (not `Agency Name`, what can be easily deduced from other entries), should have `5`. 
    2. Names should be extracted to separate table.

In [6]:
# Define indices of rows to be changed
indices_to_change = df[(df['Agency ID'] == 6) & (df['Agency Name'] != 'Department of Commerce')].index

# Assign new values
for index in indices_to_change:
    df.at[index, 'Agency ID'] = 5
    
# Save into another DF
col_agencies = ['Agency ID', 'Agency Name']
agencies = pd.DataFrame(data=df[col_agencies])
agencies.set_index(keys='Agency ID', inplace=True)
agencies.drop_duplicates(inplace=True)

# Export into a file
agencies.to_csv('agencies.csv')

# Drop extracted columns
df.drop(labels=['Agency Name'], axis=1, inplace=True)

`Investment Title`
    1. It has been extracted with `Investment ID`.

`Project ID`
    1. It's a float, but should be an int.
	2. It's unique, so it should be the Primary Key and the first column in data set. This fits also the business context of the whole data set.

In [7]:
# Change type to int
df['Project ID'] = df['Project ID'].astype(int)

# Set index
df.set_index(keys='Project ID', inplace=True)

# Sort the whole DataFrame by the index
df.sort_index(inplace=True)

`Agency Project ID`
	1. Almost half of the values are NaN (but read by Pandas correctly). Since these are some IDs of internal use of agencies, they won't be touched.
    2. Should be extrated with to separate table.

In [8]:
# Save into another DF
col_agency_projects = ['Agency ID', 'Agency Project ID']
agency_projects = pd.DataFrame(data=df[col_agency_projects].dropna())
agency_projects.set_index(keys='Agency Project ID', inplace=True)
agency_projects.drop_duplicates(inplace=True)

# Export into a file
agency_projects.to_csv('agency_projects.csv')

# Drop extracted columns
df.drop(labels=['Agency ID'], axis=1, inplace=True)

`Project Name`
	1. It corresponds with `Project ID`, so it should be kept in another lookup table with `Project Description` (see next point) in a `project_descriptions` table.

`Project Description`
	1. It corresponds with `Project ID`, so it should be kept in another lookup table with `Project Name` in a `project_descriptions` table.

In [9]:
# Save into another DF
project_descriptions = pd.DataFrame(data=df[['Project Name', 'Project Description']])
project_descriptions.drop_duplicates(inplace=True)

# Export into a file
project_descriptions.to_csv('project_descriptions.csv')

# Drop extracted columns
df.drop(labels=['Project Name', 'Project Description'], axis=1, inplace=True)

### Date columns
`Start Date`, `Completion Date (B1)`, `Planned Project Completion Date (B2)`, `Projected/Actual Project Completion Date (B2)`
	1. They are objects (Pandas' string), but should be dates.
    2. All dates should be extracted to separate table (not obligatory, but it's good not to mix a business contexts).
    3. Multiple formats (`2012-30-09`, `31/03/2012`)
    4. Column names too long.
    5. Since there also `Completion Date (B1)`, `Planned Project Completion Date (B2)` and `Projected/Actual Project Completion Date (B2)`, a purpose of these columns is unobvious. However the full business context is not known, so they won't be deleted or merged.

In [10]:
import re

# Rename the columns
col_renames = {'Start Date':'Start',
               'Completion Date (B1)':'Completion',
               'Planned Project Completion Date (B2)':'Planned Completion',
               'Projected/Actual Project Completion Date (B2)':'Projected/Actual Completion'}
df.rename(columns=col_renames, inplace=True)

# Define a parser for two different formats
pattern = re.compile('[0-9]{4}-[0-9]{2}-[0-9]{2}')

def date_parser(arg):
    global pattern
    if pattern.match(str(arg)):
        return pd.to_datetime(arg=arg, format='%Y-%d-%m')
    return pd.to_datetime(arg=arg)

# Parse dates
col_dates = ['Start', 'Completion', 'Planned Completion', 'Projected/Actual Completion']

for col in col_dates:
    df[col] = df[col].apply(date_parser)

# Extract dates
dates = pd.DataFrame(data=df[col_dates])

# Export into a file
dates.to_csv('dates.csv')

# Drop extracted columns
df.drop(labels=col_dates, axis=1, inplace=True)

### Cost columns
`Planned Cost ($ M)`, `Projected/Actual Cost ($ M)`
	1. Columns should be extracted to separate table (not obligatory, but it's good not to mix a business contexts).

In [11]:
col_costs = ['Planned Cost ($ M)', 'Projected/Actual Cost ($ M)']

# Extract costs
costs = pd.DataFrame(data=df[col_costs])

# Export into a file
costs.to_csv('costs.csv')

# Drop extracted columns
df.drop(labels=col_costs, axis=1, inplace=True)

### Update columns
`Updated Date`, `Updated Time`
	1. Should be merged together as a timestamp.

In [12]:
df['Updated'] = df['Updated Date'] + " " + df['Updated Time']
df['Updated'] = pd.to_datetime(arg=df['Updated'], format='%d/%m/%Y %H:%M:%S')

# Drop merged columns
df.drop(labels=['Updated Date', 'Updated Time'], axis=1, inplace=True)

Save the modified DataFrame.

In [13]:
projects = df.copy()
projects.to_csv('projects.csv')

## Output cleaned tables
1. Projects
2. Agencies
3. Agency projects
4. Costs
5. Dates
6. Investments

All above DataFrames have been extracted as `csv` files.

In [14]:
projects.head(10)

            Investment ID Agency Project ID             Updated
Project ID
2           024-000005188            172538 2012-04-30 04:42:57
3           024-000005137            175755 2012-08-22 04:14:25
4           024-000005137            176150 2012-07-24 04:12:17
5           024-000009560            174064 2012-02-28 05:17:47
6           024-000009560            174285 2012-06-29 03:55:41
7           024-000009560            176117 2011-10-27 04:36:49
8           024-000005664            174129 2012-05-29 04:23:28
9           024-000005664            174130 2012-05-29 04:23:28
10          024-000009540            172266 2012-07-31 04:11:35
11          024-000009540            179972 2012-08-19 10:06:05

In [15]:
agencies.head(10)

                                       Agency Name
Agency ID
5                        Department of Agriculture
6                           Department of Commerce
7                            Department of Defense
9          Department of Health and Human Services
10                      Department of the Interior
11                           Department of Justice
12                             Department of Labor
14                             Department of State
15                      Department of the Treasury
16                  Social Security Administration

In [16]:
agency_projects.head(10)

                   Agency ID
Agency Project ID
172538                    24
31.1                     393
1                         21
RMEW                      12
57                        15
61712                     26
15920                     28
3741                     422
PRISM7-1                 184
295146                     9

In [17]:
costs.head(10)

            Planned Cost ($ M)  Projected/Actual Cost ($ M)
Project ID
2                        6.250                        3.674
3                       29.350                       29.350
4                        4.290                        4.390
5                       14.560                       14.560
6                       18.677                       18.677
7                       25.844                       25.844
8                       16.000                       16.000
9                       16.000                       16.000
10                       6.358                        5.202
11                      20.185                       20.185

In [18]:
dates.head(10)

,Start,Completion,Planned Completion,Projected/Actual Completion
Project ID,,,,
2,2009-01-01,2014-04-30,2012-09-29,2012-09-29
3,2009-01-10,2017-09-30,2012-10-21,2012-10-21
4,2009-01-10,2017-09-30,2012-09-30,2012-09-30
5,2010-01-10,2011-09-30,2011-09-30,2012-04-30
6,2011-01-10,2012-09-30,2012-09-30,2012-09-30
7,2012-01-10,2013-09-30,NaT,NaT
8,2011-01-11,2012-01-11,NaT,NaT
9,2012-01-11,2013-01-11,NaT,NaT
10,2006-01-10,2017-05-01,NaT,NaT
11,2006-01-10,2017-05-01,NaT,NaT

In [19]:
investments.head(10)

,Business Case ID,Investment Title
Investment ID,,
005-000001723,212,AMS Infrastructure WAN and DMZ (AMSWAN)
005-000001822,213,APHIS Electronic Permits System (ePermits)
005-000000038,214,APHIS Enterprise Infrastructure
005-000000093,215,ATSA - Automated Timber Sale Accounting
005-000001231,219,Consolidated Farm Loan Program Information &am...
005-000001232,220,Consolidated Financial Management Information ...
005-000001234,221,Consolidated General Sales Manager (CGSM) #107
005-000000065,224,Enterprise Shared Services
005-000001870,225,Farm Program Modernization (MIDAS) #097
005-000001729,226,"FAS Infrastructure, Office Automation, and Tel..."